[user]
	email = alistairpattison@gmail.com
	name = Alistair Pattison

# use the gh binary to manage credentials for github
[credential "https://github.com"]
	helper = !/usr/bin/env gh auth git-credential

[credential "https://gist.github.com"]
	helper = !/usr/bin/env gh auth git-credential

# otherwise use the keychain
[credential]
	helper = osxkeychain

[init]
	defaultBranch = main
	templatedir = ~/.git/templates

[push]
	autoSetupRemote = true
	followTags = true

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	excludesfile = /Users/ali/.gitignore

