fish/fish_variables
fish/conf.d

*.aux
*.fdb_latexmk
*.fls
*.log

# ipython stuff
ipython/**
!ipython/**/ipython_config.py

# secrets
*.local.*
github/hosts.yml
ssh

key

__pycache__

skills/synced

# binary spell files from nvim
*.spl
