.DS_store

nvim/lazy-lock.json
github/hosts.yml
fish/fish_variables
fish/conf.d

*.aux
*.fdb_latexmk
*.fls
*.log

# ipython stuff
ipython/**/README
ipython/**/*.sqlite

# dummy file to bin symlinking works properly
bin/temp
