nvim/lazy-lock.json
fish/fish_variables
fish/conf.d

*.aux
*.fdb_latexmk
*.fls
*.log

# ipython stuff
ipython/**
!ipython/**/ipython_config.py


# dummy file to bin symlinking works properly
bin/temp

# secrets
*.local.*
github/hosts.yml
