[submodule "dotbot"]
	path = dotbot/dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "dotbot-brew"]
	path = dotbot/dotbot-brew
	url = https://github.com/wren/dotbot-brew.git
[submodule "dotbot-if"]
	path = dotbot/dotbot-if
	url = https://github.com/wonderbeyond/dotbot-if.git
