# Get editor completions based on the config schema
"$schema" = 'https://starship.rs/config-schema.json'

format = """
$directory\
$sudo\
$cmd_duration\
$fill\
$username\
$hostname\
$conda\
$python\
$git_branch\
$git_commit\
$git_state\
$git_status\
$git_metrics\

$line_break\
$jobs\
$battery\
$status\
$container\
$shell\
$character"""

[fill]
symbol = " "

[cmd_duration]
format = '[ $duration]($style) '
style = "bright-black"

[python]
format = '[ |  v${version} $virtualenv]($style)'
style = "bright-white"
detect_extensions = []
detect_files = []
detect_folders = []
version_format = '${major}.${minor}'

[conda]
format = "\\([$symbol $environment]($style)\\) "
symbol = ""

[sudo]
format = "[\\(as sudo\\)]($style)"
disabled = false


[hostname]
# ssh_only = false
format = '[@$hostname](bright-white) '

[username]
show_always = true
format = '[ $user](bright-white)'

# --- #
# GIT #
# --- #

[git_branch]
format = "[ | ](bright-white)[ $branch](bright-white) "

[git_status]
format = '[$ahead_behind$untracked$stashed$renamed$deleted$staged]($style) '
style = "red"

[git_metrics]
added_style = "green"
deleted_style = "red"
disabled = false
